{% extends 'base.html.twig' %}

{# {% block stylesheets %}
    <style>
        .Manda{
            position:absolute;
            top:0;
            z-index:-1;
            width:100dvw;
            -webkit-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;
            height: 100dvh;
            overflow-y:scroll;

        }
        
        .child{
            -webkit-scroll-snap-align: center;
            scroll-snap-align: center;
            height: 100dvh;
            display:flex;
            justify-content:center;
            align-items: center
        }
        .child:nth-child(2n+1){
            background-color:blue;
        }
        .child:nth-child(2n){
            background-color:red;
        }
        
    </style>
{% endblock %}
{% block body %}
    {% include "_partiel/_navHome.html.twig" %}

    <div class="Manda" >
        <section class='child'>
            test2
        </section>
        <section class='child'>
            test3
        </section>
        <section class='child'>
            test4
        </section>
        <section class='child'>
            test5
        </section>
    </div>
    
    <script>
				function toggleMenu() {
					const navbar = document.querySelector('.test');
					const burger = document.querySelector('#burger');
                    const burgerclose = document.querySelector('#burgerClose')
					burger.addEventListener('click', () => {
						navbar.classList.add('show-nav');
					})
                    burgerclose.addEventListener('click', () => {
                        navbar.classList.remove('show-nav');
                    })

					
				}
				toggleMenu();
	</script>
    
{% endblock %} #}
{% block body %}
    <div id='root'></div>
{% endblock %}