<h1>Bonjour, merci de votre inscription au quai antique , merci de confirmer votre email</h1>

<p>
    Merci de confirmer votre inscription en cliquant sur ce lien <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation d'email</a>.
    Ce lien exprires dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
