main{
  max-width: 1600px;
  margin: 0 auto;
  text-align:center;
}
.listMessage{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  background: #80808038;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 0px 5px 1px #686464;
  
  text-align: start;
}
@media screen and (max-width:700px) {
  .listMessage{flex-direction: column;}
}
.headCard{
  text-align: center;
  padding: 20px;
  margin: 0;
  background: white;
}
.headCard h2{
  margin: 0;
}
.contentCard{
  height: 100%;
  padding: 10px 5px;
}

.action{
  display:flex;
  justify-content: space-around;
  background: white;
  color: black;
  padding: 5px;
  box-shadow: 0px 0px 5px 1px #686464;
}
.action a{
  color: black;
  padding: 5px;
  text-decoration: none;
  border: 0 1px 0 0 solid black;
}
.actionRead{
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.actionRead a{
  color: black;
  padding: 10px;
  margin:10px;
  text-decoration: none;
  border: outset;
  border-color: rgba(0, 0, 0, 0.582);
  background: white;
  color: black;
  box-shadow: 0px 0px 5px 1px #686464;
  border-radius: 15%;
}
.actionRead a:active{
  box-shadow: 0px 0px 5px 1px inset #686464;
  border: inset;
  
}
.lecture{
  display: flex;
  flex-direction: column;
  text-align: start;
  background: #80808038;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 0px 5px 1px #686464;
}
.actionMulti{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.actionMulti a{
  color: black;
  padding: 10px;
  margin:10px;
  text-decoration: none;
  border: outset;
  border-color: rgba(0, 0, 0, 0.582);
  background: white;
  color: black;
  box-shadow: 0px 0px 5px 1px #686464;
  border-radius: 15%;
}
.actionMulti a:active{
  box-shadow: 0px 0px 5px 1px inset #686464;
  border: inset;
  
}
.Content{
  background: white;
  padding-inline-start: 10px;
}
.Content p{
  padding:  1rem;
}
.info{
  position:relative;
}
.alert{
  position: relative;
  width: 80%;
  padding: 10px;
  margin: auto;
}
.alert-success {
  background-color: rgba(8, 243, 59, 0.315);
}
.alert-danger {
  background-color: rgba(236, 4, 4, 0.281);
}
.endLink{
  display: inline-block;
  color: black;
  padding: 10px;
  margin:10px;
  text-decoration: none;
  border: outset;
  border-color: rgba(0, 0, 0, 0.582);
  background: white;
  color: black;
  box-shadow: 0px 0px 5px 1px #686464;
  border-radius: 15%;
}
.endLink:active{
  box-shadow: 0px 0px 5px 1px inset #686464;
  border: inset;
  
}

