{% extends "baseAdmin.html.twig" %}

{% block body %}
  <div>
  <h1> test </h1>
    {{form_start(categorieForm)}}
    {{form_row( categorieForm.Nom)}}
    <button type='submit'> Envoyer </button>
    {{form_end(categorieForm)}}
    <a href="{{ path('app_categories')}}"> Retour </a>
  </div>
{% endblock %}