{% extends "baseAdmin.html.twig" %}

{% block body %}
  <main>
    <h1> Les photos </h1>
    <ul>
      {% for photo in photos %}
        <li>
          {{photo.getTitre()}}
        </li>
        
      {% endfor %}
    </ul>
  <a href="{{ path('add_photo')}}"> Ajouter une photo </a>

  </main>
{% endblock %}